<!DOCTYPE html>
<html lang="en">
<head>
    <title>Events</title>
    <style>
        nav a {
            color: #0f0d0e;
            font-size: 3em;
            margin-left: 50px;
            text-decoration: none;
        }
    
        .alert {
            padding: 20px;
            margin: 5px;
            color: #070606;
            background-color: #ffd5de;
        }
    </style>
</head>
<body>
    <div class="content">
    {% for message in get_flashed_messages() %}
        <div class="alert">{{ message }}</div>
    {% endfor %}

    {% block content %} {% endblock %}
    </div>
</body>
</html>


