<html>
<head>
    <title> MainPage </title>
    <style>
        nav a {
            color: #000000;
            font-size: 2em;
            margin-left: 10px;
            text-decoration: none;
        }
    
        .alert {
            padding: 20px;
            margin: 5px;
            color: #070606;
            background-color: #ffd5de;
        }
    </style>
</head>
<body>
    <nav>
        <a href="#">MainPage</a>
        <a href="#">Games</a>
        <a href="#">Rules</a>
    </nav>
    <hr>
    <h1> Rules of game: </h1>
    <h2> Play fair!!!</h2>
</body>
</html>